<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
        <img src="/assets/images/jonathan.jpg" alt="Picture of me" class="avatar" />
      {% if page.title == "Home" %}
        <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
      {% else %}
        <h2><a href="{{ site.baseurl }}">{{ site.title }}</a></h2>
      {% endif %}
      <p class="bio">
        Sr. Systems Engineer at <a href="http://www.enterpriseholdings.com">Enterprise.</a>
        Also Co-leader of <a href="http://www.vmug.com/index.php?mo=cm&op=ld&fid=217&gid=193">St. Louis VMware User Group.</a>
        Father of 3 great kids and husband to an awesome wife.
      </p>
    </div>

    <div class="social-links">
      <ul>
        <li><a href="https://twitter.com/virtuallyanadmi"><span class="icon-twitter"></span></a></li>
        <li><a href="https://www.facebook.com/going2timbuktu"><span class="icon-facebook"></span></a></li>
        <li><a href="http://www.linkedin.com/in/virtuallyanadmi"><span class="icon-linkedin"></span></a></li>
        <li><a href="https://github.com/virtuallyanadmi"><span class="icon-github-circled"></span></a></li>
        <li><a href="https://vimeo.com/virtuallyanadmi"><span class="icon-vimeo"></span></a></li>
      </ul>
    </div>

    <!-- <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav> -->

    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
